<div class="container">
    <span class="display-1">404</span>
    <div class="mb-4 lead">La página que buscas no existe</div>
    <a href="/" class="px-4 btn badge-pill btn-link">Vuelve al Home</a>
</div>